click on this link <ul>
    <li><a href="./">index</a></li> ||
    <li><a href="./images">images</a></li> ||
    <li><a href="./articles">articles</a></li> ||
    <li><a href="./jdklsjl">error link</a></li>
  </ul>

 <!-- will display a message : Listing of Images: /images -->
 <section id="example" class="well"></section>

<!-- This is for Handlebarjs-->
<div class="container">
  <section id="articles">
	
  </section>
  <section id="images">

  </section>
	
</div>



<script id="images-template" type="text/x-handlebars-template"> 
{{#images}}
   <div class="col-xs-6 col-md-2" >
      <a href="#" class="">
         <img src="{{img}}" class="thumbnail"
         alt="Generic placeholder thumbnail" style="margin: 10px 0;">
      </a>
   </div>
{{/images}}
</script>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<script id="articles-template" type="text/x-handlebars-template"> 
<!-- Start your code here -->
{{#people}} 
<div class="panel panel-default event">
  <div class="panel-body">
    <div class="rsvp col-xs-2 col-sm-2">
      <i>18</i>
      <i>nov</i>
      <div class="hidden-xs">
        <span class="fa fa-thumbs-up fa-2x"></span>
        <span class="fa fa-thumbs-down fa-2x"></span>
      </div>
    </div>
    <div class="info col-xs-8 col-sm-7">
      {{title}}

      <div class="">
      <p>{{about}}</p>
      </div>

    </div>
    <div class="author col-xs-2 col-sm-3">
        <div class="profile-image">
            <img src="{{user_picture_link}}"/>
        </div>
        <div class="profile hidden-xs">
            <strong>@{{user_name}}</strong>
            <article>{{country}}	</article>
            <div class="links hidden-sm">
              <i class="fa fa-github-square fa-2x col-xs-3"></i>
              <i class="fa fa-google-plus-square fa-2x col-xs-3"></i>
              <i class="fa fa-facebook-square fa-2x col-xs-3"></i>
              <i class="fa fa-linkedin-square  fa-2x col-xs-3"></i>
            </div>
        </div>
        
    </div>
  </div>
</div>
{{/people}} 
</script>