<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>RailsPagejsDemo</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
  <%= javascript_include_tag 'page', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <style type="text/css">ul li { display: inline; list-style:none }</style>
</head>
<body>

<%= yield %>

</body>
<script type="text/javascript">
/*
Each link (or routes) will be catch by pages.js 

*/
page('/', function(ctx){
      console.log('page(' + ctx.path + ')');
          $('section#example').html('<h2 class="text-center">This is the index page: ' + ctx.path + '</h2>');
          $('section#articles').empty();
          $('section#images').empty();
});
page('/images', loadImages, displayImages);
page('/articles', loadArticles, displayArticles);

page('*', function(ctx){

      console.log('page(' + ctx.path + ')');
          $('section#example').html('<h2 class="text-center">This was a 404 link : ' + ctx.path + '</h2>');
          $('section#articles').empty();
          $('section#images').empty();
});


/////////////////////////////IMAGES
function loadImages(ctx, next){
  var id = ctx.params.id;
  $.getJSON('/images.json', function(img){
    ctx.img = img;
    next();
    return ctx.img
    //console.log(ctx.img)
  });
}
function displayImages(ctx, next){


	var source = $("#images-template").html(); 
	var template = Handlebars.compile(source); 
  
	data = {'images': ctx.img};
	console.log('data Images= >');
	console.log(data);

	$('section#articles').empty();
	$('section#images').append(template(data));
	 $('section#example').html('<h2 class="text-center">Listing of Images: ' + ctx.path + '</h2>');

}

/////////////////////////////END IMAGES


/////////////////////////////ARTICLES
function loadArticles(ctx, next){
  var id = ctx.params.id;
  $.getJSON('/articles.json', function(user){
    ctx.user = user;
    next();
    return ctx.user
    //console.log(user)
  });
}
function displayArticles(ctx, next){

	var source = $("#articles-template").html(); 
	var template = Handlebars.compile(source); 
  
	data = {'people': ctx.user};
	console.log('data = >');
	console.log(data);
	$('section#images').empty();
	$('section#articles').append(template(data));
	 $('section#example').html('<h2 class="text-center">Listing of Articles: ' + ctx.path + '</h2>');


}
/////////////////////////////END ARTICLES

$('document').ready(function(){page()});



</script>
</html>
